<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Args | {{.Data.Title}}</title>
    <link rel="stylesheet" href="/css/global.css" />
    <script src="https://cdn.jsdelivr.net/npm/vanilla-hcaptcha"></script>
    <meta content="website" property="og:type" />
    <meta content="{{.Data.Title}}" property="og:title" />
    <meta content="Do you agree? please send your opinion!" property="og:description" />
    <meta content="args" property="og:site_name" />
    <meta name="description" content="{{.Data.Title}}" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="args,aiocat,opinion,argument,arguman" />
    <meta name="title" content="Args | {{.Data.Title}}" />
    <meta name="author" content="https://github.com/aiocat" />
    <link
      rel="shortcut icon"
      href="/img/logo.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="post">
      <h1>{{.Data.Title}}</h1>
      <h2 id="creation-date">{{.CreatedAt}}</h2>
      <span class="agree" id="agree-percent"></span>
      <span class="however" id="however-percent"></span>
      <span class="disagree" id="disagree-percent"></span>
      <div class="new-argument">
        <textarea
          name="argument"
          id="argument"
          cols="30"
          rows="10"
          placeholder="Enter an Argument..."
        ></textarea>
        <span class="agree" id="agree">Agree</span>
        <span class="however" id="however">However</span>
        <span class="disagree" id="disagree">Disagree</span>
        <button id="send">Send</button>
        <h-captcha
          id="captcha"
          site-key="bfe0e662-099f-450d-9d85-4d11668930f2"
          size="invisible"
          tabindex="0"
        >
        </h-captcha>
        <p id="error"></p>
      </div>
      <hr />
      <div class="replies">
        {{range .Replies}}
        <div class="reply opinion-{{.Opinion}}">
          <h1>{{.Argument}}</h1>
          <p>{{.CreatedAtTime}}</p>
        </div>
        <a href="/reports/{{.Id}}">Report</a>
        <a href="/delete">Delete</a>
        {{end}}
      </div>
      {{if .Continues}}
      <a class="page-manager" href="/arguments/{{.Data.Id}}?page={{.NextPage}}">Next Page</a>
      {{else}}
      <a class="page-manager" href="/arguments/{{.Data.Id}}?page=0">Page Start</a>
      {{end}}
    </div>
  </body>
  <script src="/js/argument.js"></script>
  <script>
      parseArgument("{{.Data.Id}}")
  </script>
</html>
