<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Args | {{.Data.Title}}</title>
    <link rel="stylesheet" href="/css/global.css" />
    <script src="https://cdn.jsdelivr.net/npm/vanilla-hcaptcha"></script>
  </head>
  <body>
    <div class="post">
      <h1>{{.Data.Title}}</h1>
      <h2 id="creation-date">{{.CreatedAt}}</h2>
      <span class="agree" id="agree-percent"></span>
      <span class="however" id="however-percent"></span>
      <span class="disagree" id="disagree-percent"></span>
      <div class="new-argument">
        <textarea
          name="argument"
          id="argument"
          cols="30"
          rows="10"
          placeholder="Enter an Argument..."
        ></textarea>
        <span class="agree" id="agree">Agree</span>
        <span class="however" id="however">However</span>
        <span class="disagree" id="disagree">Disagree</span>
        <button id="send">Send</button>
        <h-captcha
          id="captcha"
          site-key="bfe0e662-099f-450d-9d85-4d11668930f2"
          size="invisible"
          tabindex="0"
        >
        </h-captcha>
        <p id="error"></p>
      </div>
      <hr />
      <div class="replies">
        {{range .Replies}}
        <div class="reply opinion-{{.Opinion}}">
          <h1>{{.Argument}}</h1>
          <p>{{.CreatedAtTime}}</p>
        </div>
        <a href="/reports/{{.Id}}">Report</a>
        <a href="/delete">Delete</a>
        {{end}}
      </div>
    </div>
  </body>
  <script>
    var opinion = 0;
    var agree = document.getElementById("agree");
    var however = document.getElementById("however");
    var disagree = document.getElementById("disagree");

    agree.onclick = () => {
      agree.style.borderWidth = "3px";
      however.style.borderWidth = "1px";
      disagree.style.borderWidth = "1px";
      opinion = 1;
    };

    however.onclick = () => {
      agree.style.borderWidth = "1px";
      however.style.borderWidth = "3px";
      disagree.style.borderWidth = "1px";
      opinion = 2;
    };

    disagree.onclick = () => {
      agree.style.borderWidth = "1px";
      however.style.borderWidth = "1px";
      disagree.style.borderWidth = "3px";
      opinion = 3;
    };

    var argument = document.getElementById("argument");
    var captchaElement = document.getElementById("captcha");

    document.getElementById("send").onclick = () => {
      if (opinion === 0) {
        document.getElementById("error").innerText = "Please select an opinion";
        return;
      }
      captchaElement.execute();
    };

    captchaElement.addEventListener("verified", async ({ token }) => {
      let response = await fetch("/arguments/{{.Data.Id}}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          hcaptcha: token,
          opinion,
          argument: argument.value,
        }),
      });

      let responseJson = await response.json();

      if (response.ok) {
        let notification = document.createElement("div");
        notification.className = "notification";

        let title = document.createElement("h1");
        title.innerText = "Success";

        let description = document.createElement("h2");
        description.innerText =
          "Save this secret key to remove your argument later.";

        let secret = document.createElement("p");
        secret.innerText = responseJson.secret;

        let remove = document.createElement("button");
        remove.innerText = "Ok!";
        remove.onclick = () => {
          notification.remove();
          window.location.reload();
        };

        notification.append(title, description, secret, remove);
        document.body.appendChild(notification);
      } else {
        document.getElementById("error").innerText = responseJson.error;
      }

      argument.value = "";
      opinion = 0;
      agree.style.borderWidth = "1px";
      however.style.borderWidth = "1px";
      disagree.style.borderWidth = "1px";
    });

    captchaElement.addEventListener("error", ({ error }) => {
      document.getElementById("error").innerText = error;
    });

    // Calculate replies
    function calculateReplies() {
      var replies = document.getElementsByClassName("replies")[0];
      var accepts = 0;
      var howevers = 0;
      var declines = 0;
      var totalReplies = replies.childElementCount;

      for (let i = 0; i < totalReplies; i += 3) {
        let foundElem = replies.children[i];
        let opinion = parseInt(foundElem.className.split("-")[1]);

        if (opinion === 1) {
          accepts++;
        } else if (opinion === 2) {
          howevers++;
        } else {
          declines++;
        }
      }

      // Calculate percents
      document.getElementById("agree-percent").innerText =
        "%" + Math.round((accepts / (totalReplies / 3)) * 100);
      document.getElementById("however-percent").innerText =
        "%" + Math.round((howevers / (totalReplies / 3)) * 100);
      document.getElementById("disagree-percent").innerText =
        "%" + Math.round((declines / (totalReplies / 3)) * 100);
    }

    if (document.getElementsByClassName("replies")[0].childElementCount > 0) {
      calculateReplies();
    }
  </script>
</html>
