<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Args | Delete Argument</title>
    <link rel="stylesheet" href="/css/global.css" />
    <meta content="website" property="og:type" />
    <meta content="Args" property="og:title" />
    <meta
      content="Anonymous argument sharing and advocacy platform"
      property="og:description"
    />
    <meta content="args" property="og:site_name" />
    <meta content="/img/logo.png" property="og:image" />
    <meta
      name="description"
      content="Anonymous argument sharing and advocacy platform"
    />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="args,aiocat,opinion,argument,arguman" />
    <meta name="title" content="Args" />
    <meta name="author" content="https://github.com/aiocat" />
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
  </head>

  <body>
    <div class="center">
      <div class="invisible-card">
        <h1>Delete Argument</h1>
        <input type="text" name="secret" id="secret" placeholder="Secret" />
        <button id="send">Delete</button>
        <p id="error"></p>
      </div>
    </div>
  </body>
  <script src="/js/delete.js"></script>
</html>
