<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Args, Open Ideas.</title>
    <meta content="website" property="og:type" />
    <meta content="Args" property="og:title" />
    <meta
      content="Anonymous argument sharing and advocacy platform"
      property="og:description"
    />
    <meta content="args" property="og:site_name" />
    <meta content="/img/logo.png" property="og:image" />
    <meta
      name="description"
      content="Anonymous argument sharing and advocacy platform"
    />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="args,aiocat,opinion,argument,arguman" />
    <meta name="title" content="Args" />
    <meta name="author" content="https://github.com/aiocat" />
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
  </head>
  <body>
    <div class="navigation">
      <img src="/img/logo.png" alt="logo" />
      <div>
        <a href="#">Home</a>
        <a href="/new">New Discussion</a>
        <a href="https://github.com/aiocat/args">Source Code</a>
      </div>
    </div>
    <img src="/img/banner.png" alt="banner" class="banner" />
    <div class="product">
      <h1>Args, Open Ideas.</h1>
      <p>Next-generation anonymous argument sharing and advocacy platform.</p>
      <a href="/new">Start New Discussion</a>
    </div>
    <div class="container">
      <img src="/img/discussion.png" alt="discussion" />
      <div>
        <p>
          Start and share new discussion less than 10 second. No personal
          information needed.
        </p>
        <a href="/new">Start New Discussion</a>
      </div>
    </div>
    <div class="product">
      <h1>Supported by Open-Source.</h1>
      <p>All our code is open! You can help us to improve the platform.</p>
      <a href="https://github.com/aiocat/args">Source Code</a>
    </div>
    <div class="social">
      <a href="https://dev.to/aiocat">
        <img src="/svg/devto.svg" alt="dev.to-social" />
      </a>
      <a href="https://twitter.com/aiocat420">
        <img src="/svg/twitter.svg" alt="twitter-social" />
      </a>
      <a href="https://github.com/aiocat/args">
        <img src="/svg/github.svg" alt="github-social" />
      </a>
    </div>
  </body>
</html>
