<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Args | New Discussion</title>
    <link rel="stylesheet" href="/css/global.css" />
    <script src="https://cdn.jsdelivr.net/npm/vanilla-hcaptcha"></script>
    <meta content="website" property="og:type" />
    <meta content="Args" property="og:title" />
    <meta
      content="Anonymous argument sharing and advocacy platform"
      property="og:description"
    />
    <meta content="args" property="og:site_name" />
    <meta content="/img/logo.png" property="og:image" />
    <meta
      name="description"
      content="Anonymous argument sharing and advocacy platform"
    />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="args,aiocat,opinion,argument,arguman" />
    <meta name="title" content="Args" />
    <meta name="author" content="https://github.com/aiocat" />
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
  </head>
  <body>
    <div class="center">
      <div class="invisible-card">
        <h1>New Discussion</h1>
        <input type="text" name="title" id="title" placeholder="Title" />
        <h-captcha
          id="captcha"
          site-key="bfe0e662-099f-450d-9d85-4d11668930f2"
          size="invisible"
          tabindex="0"
        ></h-captcha>
        <button id="send">Send</button>
        <p id="error"></p>
      </div>
    </div>
  </body>
  <script src="/js/new.js"></script>
</html>
