@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
html {
  margin: 0 auto;
  background-color: #03040a;
  font-family: "Work Sans", sans-serif;
}

.center {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.invisible-card {
  background-color: transparent;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.invisible-card h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 900;
}

.invisible-card p,
.new-argument p {
  color: rgb(255, 61, 61);
  font-size: 18px;
  font-weight: 400;
}

.invisible-card input[type="text"],
#argument {
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #aaa;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
  resize: none;
  transition: 500ms;
  margin: 20px auto;
  display: block;
}

.invisible-card input[type="text"]:hover,
.invisible-card input[type="text"]:focus,
#argument:hover,
#argument:focus {
  border-bottom: 2px solid #fff;
}

#send {
  color: #000;
  background-color: #fff;
  border: 2px solid #fff;
  outline: none;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 10px 5px 10px;
  transition: 500ms;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 10px;
  display: block;
}

#send:hover {
  color: #fff;
  background-color: transparent;
}

.notification {
  background: transparent;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(20px);
  z-index: 10;
  border-radius: 10px;
  border: 2px solid #fff;
  padding: 20px;
  max-width: 512px;
}

.notification h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  margin: 5px auto;
}

.notification h2 {
  color: #ddd;
  font-size: 24px;
  font-weight: 400;
  margin: 5px auto;
}

.notification a {
  color: rgb(255, 62, 213);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  margin: 5px auto;
}

.notification a:hover {
  text-decoration: underline;
}

.notification p {
  background-color: rgb(0, 2, 7);
  border-radius: 10px;
  border: 1px solid #fff;
  color: #ddd;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  margin: 20px auto;
}

.notification button {
  color: #fff;
  background-color: rgb(255, 62, 213);
  border: none;
  border-radius: 10px;
  outline: none;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 10px 5px 10px;
  transition: 500ms;
  margin: 5px auto;
  cursor: pointer;
}

.post {
  padding: 100px;
  text-align: center;
}

.post hr {
  margin: 30px auto;
  width: 70%;
  border: 1px dashed #aaa;
}

.post h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  margin: 5px auto;
}

.post h2 {
  color: #ddd;
  font-size: 18px;
  font-weight: 400;
  margin: 5px auto;
}

.agree,
.however,
.disagree {
  color: #03040a;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  padding: 5px;
  margin: 10px auto;
  display: inline-block;
}

.agree {
  background-color: rgb(101, 255, 71);
  border: 1px solid rgb(46, 150, 25);
}

.however {
  background-color: rgb(255, 181, 71);
  border: 1px solid rgb(250, 131, 34);
}

.disagree {
  background-color: rgb(255, 71, 71);
  border: 1px solid rgb(150, 25, 25);
}

.replies {
  width: 50%;
  margin: 0px auto;
}

.replies a {
  display: inline-block;
  text-align: left;
  color: #aaa;
  text-decoration: none;
  margin: 2px auto;
  font-size: 14px;
  font-weight: 500;
}

.replies a:hover {
  text-decoration: underline;
}

.opinion-1 {
  border: 2px solid rgb(101, 255, 71);
}

.opinion-1 p {
  background-color: rgb(101, 255, 71);
}

.opinion-2 {
  border: 2px solid rgb(255, 181, 71);
}

.opinion-2 p {
  background-color: rgb(255, 181, 71);
}

.opinion-3 {
  border: 2px solid rgb(255, 71, 71);
}

.opinion-3 p {
  background-color: rgb(255, 71, 71);
}

.reply {
  background: transparent;
  text-align: left;
  border-radius: 10px;
  margin: 10px auto;
  width: 100%;
}

.reply p {
  margin: 0 auto;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-align: center;
  padding-top: 2px;
  font-size: 14px;
  font-weight: 600;
  color: #03040a;
}

.reply h1 {
  color: #ddd;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-line;
  padding: 10px;
}

@media only screen and (max-width: 560px) {
  .post {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }

  .post h1 {
    font-size: 32px;
    font-weight: 700;
  }

  .post h2 {
    font-size: 14px;
    font-weight: 400;
  }

  .post #argument {
    width: 90%;
  }

  .post .agree,
  .post .however,
  .post .disagree {
    display: block;
    width: 50%;
  }

  .post #send {
    width: 50%;
  }

  .post hr {
    width: 100%;
    border-style: solid;
  }

  .replies {
    width: 90%;
    box-sizing: border-box;
  }

  .reply {
    width: 100%;
    margin: 5px auto;
  }

  .reply h1 {
    padding: 5px;
    font-size: 16px;
    font-weight: 700;
  }

  .reply p {
    font-size: 12px;
    font-weight: 400;
  }

  .invisible-card {
    box-sizing: border-box;
    width: 100%;
  }

  .invisible-card h1 {
    font-size: 32px;
    font-weight: 500;
  }

  .invisible-card p {
    font-size: 14px;
  }

  .invisible-card input[type="text"] {
    width: 90%;
    margin: 10px auto;
    padding: 5px;
  }

  .notification {
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 0px;
    border: none;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
  }

  .notification h1 {
    font-size: 28px;
  }

  .notification h2 {
    font-size: 20px;
  }

  .notification a {
    font-size: 16px;
  }

  .notification p {
    font-size: 16px;
    padding: 5px;
    margin: 10px auto;
    word-wrap: break-word;
  }

  .notification button {
    font-size: 16px;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #fff #03040a;
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #03040a;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 3px solid #03040a;
}
