@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
html {
  margin: 0 auto;
  background-color: #03040a;
  font-family: "Poppins", sans-serif;
}

:root {
  --front: rgb(40, 72, 255);
}

.center {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.invisible-card {
  background-color: transparent;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.invisible-card h1 {
  color: var(--front);
  font-size: 42px;
  font-weight: 600;
}

.invisible-card p, .post p {
  color: rgb(255, 61, 61);
  font-size: 18px;
  font-weight: 400;
}

.invisible-card input[type="text"],
#argument {
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
  resize: none;
  transition: 500ms;
  margin: 20px auto;
  display: block;
}

.invisible-card input[type="text"]:hover,
.invisible-card input[type="text"]:focus,
#argument:hover,
#argument:focus {
  border-bottom: 2px solid var(--front);
}

#send {
  color: #fff;
  background-color: var(--front);
  border: 2px solid var(--front);
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  transition: 500ms;
  margin: 20px auto;
  cursor: pointer;
  display: block;
}

#send:hover {
  color: var(--front);
  background-color: transparent;
}

.notification {
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(20px);
  z-index: 10;
  border-radius: 30px;
  border: 2px solid var(--front);
  padding: 20px;
  max-width: 512px;
}

.notification h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin: 5px auto;
}

.notification h2 {
  color: #aaa;
  font-size: 24px;
  font-weight: 400;
  margin: 5px auto;
}

.notification a {
  color: var(--front);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  margin: 5px auto;
}

.notification a:hover {
  text-decoration: underline;
}

.notification p {
  background-color: rgb(0, 2, 7);
  border-radius: 10px;
  border: 1px solid var(--front);
  color: var(--front);
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  margin: 20px auto;
}

.notification button {
  color: #fff;
  background-color: var(--front);
  border: 2px solid var(--front);
  border-radius: 10px;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 10px 5px 10px;
  transition: 500ms;
  margin: 5px auto;
  cursor: pointer;
}

.post {
  padding: 100px;
  text-align: center;
}

.post h1 {
  color: var(--front);
  font-size: 48px;
  font-weight: 700;
  margin: 5px auto;
}

.post h2 {
  color: #aaa;
  font-size: 18px;
  font-weight: 400;
  margin: 5px auto;
}

#agree, #however, #disagree {
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    margin: 10px auto;
}

#agree {
    background-color: rgb(101, 255, 71);
    border: 1px solid rgb(46, 150, 25);
}

#however {
    background-color: rgb(255, 181, 71);
    border: 1px solid rgb(250, 131, 34);
}

#disagree {
    background-color: rgb(255, 71, 71);
    border: 1px solid rgb(150, 25, 25);
}